<input type="hidden" name="exp-id" value="{{ exp.id }}" />
<td data-input="input-categ"><span>{{ exp.categ.prim }} ({{ exp.categ.scnd }})</span><input type="hidden" value="{{ exp.categ.id }}" /></td>
<td data-input="input-text"><span>{{ exp.name }}</span><input type="hidden" value="{{ exp.name }}" /></td>
<td data-input="input-text"><span>{{ exp.amount }}</span><input type="hidden" value="{{ exp.amount }}" /></td>
<td data-input="input-pay"><span>{{ exp.pay.name }}</span><input type="hidden" value="{{ exp.pay.id }}" /></td>
<td><span class="glyphicon glyphicon-pencil"></span></td>